// ======================================
//  Header
// ======================================

.header-main {
  border:1px black solid;
  text-align: center;
  background-color: $ship-cove-light;
  @include mq("tablet") {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
  }
};
.header-main h1 {
  color: $white;
}

.header-main a {
  position: relative;
  color: $white;
  text-decoration: none;
}
.profile-name {
  padding: em(10px);
  margin-left: em(5px);
}

.notification-alert {
  color: $black;
  visibility: hidden;
  opacity: 0;
  width: em(20px);
  height: em(20px);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 5px;
  background-color: $color-alertbox;
  z-index: 2000;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.notification-content {
  @include flexbox;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  margin-top: .5em;
  position: absolute;
  background-color: $alabaster;
  border-radius: $br--default;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  min-width: 250px;
  z-index: 1;
  left: 50%;
  right: auto;
  transform: translate(-12%, 0);

  /* styling for the notifications */
  .notification {
    border-radius: $br--default;
    padding: .2em 1em;
    background-color: $white;
    color: $color-sec;
    margin: 0;
    @include flexbox;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}


.notification .alert-close {
  color: $color-alertbox;
}
.show {
  visibility: visible;
  opacity: 1;
}