// ======================================
//  Images/Icons
// ======================================

.icon {
  width: $icon-sm;
}

.icon-logo {
  vertical-align: middle;
  width: $icon-md;
  height: $icon-md;
  border-radius: $br--round;
}