// ======================================
//  Main
// ======================================
.container {
  @include mq("tablet") {
    @include flexbox;
    align-items: stretch;
    //@include flex-direction(row);
  }
}
.wrapper {
  @include flexbox;
  @include flex-direction(column);
  justify-content: center;
  align-items:center;
  width: 85%;
  max-width:1024px;
  margin: auto;
  @include mq("tablet") {
    @include flex-direction(row);
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}
.widget {
  padding-top: em(40px);
}
.full {
  width: 100%;
}
.half {
  width: 100%;
  @include mq("tablet"){
    width: 48%;
  }
}
half:nth-of-type(1) {
  margin-right: em(35px);
}
.round {
  border-radius: $br--round;
}
// Widget titles
.widget-title {
  font-size: $base__font-size--sm;
  @include flexbox;
  justify-content: space-between;
  margin:em(15px) 0;
  flex-wrap: wrap;
}
.widget-nav {
  @include flexbox;
  justify-content:space-between;
}

