// ======================================
//  Main
// ======================================
.container {
  background-color: darken($alabaster, 10%);
  @include mq("tablet") {
    @include flexbox;
    align-items: stretch;

    //@include flex-direction(row);
  }
}
.wrapper {
  @include flexbox;
  @include flex-direction(column);
  justify-content: center;
  align-items:center;
  width: 87%;
  max-width:1124px;
  margin: auto;
  @include mq("tablet") {
    @include flex-direction(row);
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

.widget {
  border-radius: $br--default;
  background-color: $white;
  padding: em(15px) em(15px) em(20px) em(15px);
  margin: em(20px) 0;
}
.full {
  width: 100%;
}
.half {
  width: 100%;
  @include mq("tablet"){
    width: 48%;
  }
}
//.half:nth-of-type(1) {
//  margin-right: em(35px);
//}
.round {
  border-radius: $br--round;
}
// Widget titles
.widget-title {
  font-size: $base__font-size--sm;
  @include flexbox;
  justify-content: space-between;
  align-items: center;
  margin-bottom:em(15px);
  flex-wrap: wrap;
  @include mq("tablet") {
    font-size: $base__font-size;
  }
}

