// ======================================
//  Social Widget
// ======================================

.list-item {
  @include flexbox;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: em(10px) 0;
  border-top: 1px solid gainsboro;
}

.activity-list,
.members-list{
  border-bottom: 1px solid gainsboro;
}


.members-text {
  margin: 0 em(5px);
}
.text-side {
  margin-left: auto;

}
.members-text a,
.members-list .text-side,
.activity-list span{
  font-size: $base__font-size--xsm;
  @include mq("tablet") {
    font-size: $base__font-size--sm;
  }
}